<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/V1.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Bananas</h4>
           <p class="card-text">Rs:20 per 4pieces</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/V2.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Strawberry</h4>
        <p class="card-text">Rs:85 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/V15.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Watermelon</h4>
        <p class="card-text">Rs:65 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
        
      </div>
    </div>
    
    <div class="card" >
      <img class="card-img-top" src="./assets/media/V6.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Grapes</h4>
        <p class="card-text">Rs:30 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/V7.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Kiwi</h4>
        <p class="card-text">Rs:30 per 1 piece</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/V9.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Papaya</h4>
        <p class="card-text">Rs:30 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/V11.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Blueberry</h4>
        <p class="card-text">Rs:45 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/V12.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Pear</h4>
        <p class="card-text">Rs:90 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card" >
      <img class="card-img-top" src="./assets/media/V13.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Dragon Fruit</h4>
        <p class="card-text">Rs:100 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/V14.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Apricot</h4>
        <p class="card-text">Rs:75 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    