<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12"> 
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/PC1.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Santoor(4*100g)</h5>
        <p class="card-text">Price:120.</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/PC2.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Fiama(3*125g)</h5>
        <p class="card-text"> Price:230</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/PC3.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Medmix</h5>
        <p class="card-text"> Price:230</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc4.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Dettol(4*100g)</h5>
        <p class="card-text"> Price:130</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc5.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Chintol</h5>
        <p class="card-text"> Price:30</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc6.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Himalaya Soaps</h5>
        <p class="card-text"> Price:205</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc46.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Parachute Oil</h5>
        <p class="card-text"> Price:100</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc8.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Kesh king oil</h5>
        <p class="card-text"> Price:210</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc9.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Almond Oil</h5>
        <p class="card-text"> Price:150</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc10.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Induleka Oil</h5>
        <p class="card-text"> Price:230</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc11.jpg"  alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Head&Shoulder Shampoo</h5>
        <p class="card-text"> Price:199</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc12.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Dove Shampoo</h5><br>
        <p class="card-text"> Price:123</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc13.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Meera Shampoo</h5>
        <p class="card-text"> Price:120</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc14.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Clinic plus Shampoo</h5>
        <p class="card-text"> Price:99</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc15.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Sunsilk Shampoo</h5>
        <p class="card-text"> Price:110</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    <!-- personal care -->
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="./assets/media/pc16.jpg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title"> Advanced Fair&Lovely</h5>
          <p class="card-text"> Price:79</p>
          <a href="#" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/pc17.jpeg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Aloe vera Face Gel</h5>
        <p class="card-text"> Price:99</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/pc18.jpeg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Everyuth Face Pack</h5>
        <p class="card-text"> Price:55</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="./assets/media/pc19.jpeg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Himalaya Eye Kajal</h5>
          <p class="card-text"> Price:30</p>
          <a href="#" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/pc20.jpeg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Mineral Bluster Kit</h5>
        <p class="card-text"> Price:262</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      </div>
      <!-- staples -->
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/pc21.jpeg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Dettol Green</h5>
            <p class="card-text"> Price:59</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/pc22.jpeg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Zandu Balm</h5>
            <p class="card-text"> Price:30</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/pc23.jpeg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Nivea Men Lotion</h5>
            <p class="card-text"> Price:230</p>
            <a href="#" class="btn btn-primary">Add Cart</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/pc24.jpeg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Pampers</h5>
            <p class="card-text"> Price:59</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/pc25.jpeg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Luvlap Baby Wipes</h5>
            <p class="card-text"> Price:299</p>
            <a href="#" class="btn btn-primary">Add Cart</a>
          </div>
        </div>
        </div>
        <!-- staples2 -->
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="./assets/media/pc26.jpeg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Johnson's Baby Wipes</h5>
            <p class="card-text"> Price:129</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/pc27.jpeg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Ceregrow Multigrains</h5>
            <p class="card-text"> Price:129</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/pc28.jpeg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Ceregrow (Apple,Carrot&Wheat)</h5>
            <p class="card-text"> Price:139</p>
            <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
          
          <div class="card">
            <img class="card-img-top" src="./assets/media/pc29.jpeg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Lactogen-2<br>(6-12months)</h5>
            <p class="card-text"> Price:190</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/pc30.jpeg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Johnson's Baby Shampoo</h5>
            <p class="card-text"> Price:89</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
          </div>
          <!-- STAPLES-3 -->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="./assets/media/pc51.jpg" alt="Card image">
              <div class="card-body">
                <h5 class="card-title">Mama Earth Body Lotion</h5>
            <p class="card-text"> Price:199</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/media/pc32.jpeg" alt="Card image">
              <div class="card-body">
                <h5 class="card-title">Johnson's Ear Buds</h5>
            <p class="card-text"> Price:100</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/media/pc33.jpeg" alt="Card image">
              <div class="card-body">
                <h5 class="card-title">Mamy Poko Pants XXL</h5>
            <p class="card-text"> Price:90</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
              </div>
            </div>
            
            <div class="card">
              <img class="card-img-top" src="./assets/media/pc34.jpeg" alt="Card image">
              <div class="card-body">
                <h5 class="card-title">Himalaya Baby Pants-M</h5>
            <p class="card-text"> Price:79</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/media/pc35.jpeg" alt="Card image">
              <div class="card-body">
                <h5 class="card-title">Colgate Zigzag Neem</h5>
            <p class="card-text"> Price:99</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
              </div>
            </div>
            </div>
            <!-- STAPLES-4 -->
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="./assets/media/pc36.jpeg" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Colgate MaxFresh</h5>
            <p class="card-text"> Price:159</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="./assets/media/pc37.jpeg" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Cerelac 5Grains&Fruits</h5>
            <p class="card-text"> Price:200</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="./assets/media/pc50.jpg" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Lakme Nail Polish</h5>
            <p class="card-text"> Price:20</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                </div>
              </div>
              
              <div class="card">
                <img class="card-img-top" src="./assets/media/pc39.jpeg" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Himalaya Complete Care</h5>
            <p class="card-text"> Price:130</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="./assets/media/pc40.jpeg" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Dabur Dant Rakshak</h5>
            <p class="card-text"> Price:119</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                </div>
              </div>
              </div>
              <!-- STAPLES-5 -->
              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="./assets/media/pc41.jpeg" alt="Card image">
                  <div class="card-body">
                    <h5 class="card-title">Colgate<br>(0-2 years)</h5>
            <p class="card-text"> Price:67</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="./assets/media/pc49.jpg" alt="Card image">
                  <div class="card-body">
                    <h5 class="card-title">Fogg Mens<br>(2 Pieces)</h5>
            <p class="card-text"> Price:189</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="./assets/media/pc48.jpg" alt="Card image">
                  <div class="card-body">
                    <h5 class="card-title">Nail Cutter<br>(for babies)</h5>
            <p class="card-text"> Price:95</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
                
                <div class="card">
                  <img class="card-img-top" src="./assets/media/pc44.jpeg" width="100px" alt="Card image">
                  <div class="card-body">
                    <h5 class="card-title">Dabur Baby Cream</h5>
            <p class="card-text"> Price:119</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="./assets/media/pc45.jpeg" alt="Card image">
                  <div class="card-body">
                    <h5 class="card-title">Fair & Handsome</h5>
            <p class="card-text"> Price:100</p><br>
            <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div>
                </div>
                </div>
                </div>
                </div>
