<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12">
<div class="card-deck">
    <div class="card" >
      <img class="card-img-top" src="./assets/media/hc1.jpeg" alt="Card image"height="250px">
      <div class="card-body">
        
        <p class="card-text">Measuring Spoons</p>
        <h6 class="card-title">Rs:240</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc2.jpeg" alt="Card image" height="250px">
      <div class="card-body">
        <p class="card-text">Vegetable Chopper</p>
        <h6 class="card-title">Rs:150</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc3.jpeg" alt="Card image" hei>
      <div class="card-body">
        <p class="card-text"> Plastic Serving Spoon set</p>
        <h6 class="card-title">Rs:160</h6>
        <a href="#" class="btn btn-primary">Add Item</a> 
        
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc4.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Kadai</p>
        <h6 class="card-title">Rs:570</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc5.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text"> Butterfly Gas Stove</p>
        <h6 class="card-title">Rs:3000</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    <!-- second card deck -->
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc6.jpeg" alt="Card image"height="300px"width="300px">
      <div class="card-body">
        <p class="card-text">Glass Mugs</p><br>
        <h6 class="card-title">Rs:200</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc7.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">15 Pattern Discs Kitchen Press</p>
        <h6 class="card-title">Rs:390</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc8.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text"> Butterfly Wet Grinder</p>
        <h6 class="card-title">Rs:1120</h6><br>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc9.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Thermoware Casserole Set</p>
        <h6 class="card-title">Rs:1260</h6><br>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/hc10.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Multi Ceramic Coffee Mug</p>
        <h6 class="card-title">Rs:299</h6><br>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>