<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Grocery</h5>
    <!--headin5_amrc-->
    <p class="mb10">Online Grocery Store  this is the app for buying grocery items any time any where</p>
    <p><i class="fa fa-location-arrow"></i>Karimnagar</p>
    <p><i class="fa fa-phone"></i>  +91-9979878380  </p>
    <p><i class="fa fa fa-envelope"></i> grocery@yahoo.com  </p>
    
    
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Services</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="#">Best Sales</a></li>
    <li><a href="#">Best Items</a></li>
    <li><a href="#">Best Price</a></li>
    <li><a href="#">Best Qulity</a></li>
    <li><a href="#">Better Feedback</a></li>
    <li><a href="#"> Best Wholesale</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">About Us</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Perfect Billing</a></li>
    <li><a href="http://webenlance.com">Same Day Guarantee</a></li>
    <li><a href="http://webenlance.com">Best Rating</a></li>
    <li><a href="http://webenlance.com">Cash On Delivery</a></li>
    <li><a href="http://webenlance.com">Card On Delivery</a></li>
    <li><a href="http://webenlance.com">Customer Support</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <!-- <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
    <!--headin5_amrc ends here-->
    
    <!-- <ul class="footer_ul2_amrc">
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
    </ul> -->
    <!--footer_ul2_amrc ends here
    </div> -->
    </div>
    </div>
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="http://webenlance.com">Home</a></li>
    <li><a href="http://webenlance.com">About</a></li>
    <li><a href="http://webenlance.com">Services</a></li>
    <li><a href="http://webenlance.com">Pricing</a></li>
    <!-- <li><a href="http://webenlance.com">Blog</a></li>
    <li><a href="http://webenlance.com">Contact</a></li> -->
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2022 | Designed With by <a href="#">Online Grocery</a></p>
    
    <ul class="social_footer_ul">
    <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
    <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
    </div>
    
    </footer>