

  <div class="container-fluid">
    <div class="row">
    <div class="col-xs-sm-md-lg-12"> 
    <div class="wrapper"> 
     <h2>Signin</h2> <!-- error messages --> 
     <div id="error_message"></div> <!-- contact form --> 
     <form id="myform"> 
      
      <div class="input_field"> 
       <input type="text" name="email" id="email" placeholder="enter your email/name"> 
      </div> 
       
      <div class="input_field"> 
        <input type="text" name="phone" id="phone" placeholder="enter your passward"> 
       </div> 
      <div class="btn"> 
       <input type="submit" value="submit"> 
      </div> 
     </form> 
    </div> 
    </div>
    </div>
    </div>
   
  

