<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/st5.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Uran Dal</h4>
        <p class="card-text">Price:59 per kg</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs5.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Ilachi</h4>
        <p class="card-text">Price:13 per 50g</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs8.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Basmati Rice</h4>
        <p class="card-text">Price:129 per kg</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs7.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Steam Rice</h4>
        <p class="card-text">Price:150 per kg</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/pk13.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Corn Flakes</h4>
        <p class="card-text">Price:89 per 875g</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    <!-- best sales 2 -->
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/of6.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Colgate Combo</h4>
        <p class="card-text">Price:190 </p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/hk1.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Lighter</h4><br>
        <p class="card-text">Price:50</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs9.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title"> Tata Tea Gold</h4><br>
        <p class="card-text">Price:140</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/of26.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Lays</h4><br>
        <p class="card-text">Price:70 pack of 3</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/of12.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Safe wash Detergent</h4>
        <p class="card-text">Price:159 </p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    <!-- best sales 3 -->
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs10.jpeg"  alt="Card image">
      <div class="card-body">
        <h4 class="card-title"> Red Chilli Powder</h4>
        <p class="card-text">Price:159</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs11.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Snickers</h4>
        <p class="card-text">Price:15</p><br>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs13.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Lavender Combo</h4>
        <p class="card-text">Price:215</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs14.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Ariel Front Load</h4>
        <p class="card-text">Price:252</p>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/bs15.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Black Raisins</h4>
        <p class="card-text">Price:220</p><br>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    <!-- best sales 4 -->
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="./assets/media/bs16.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title"> Dried Apricots 200g</h4>
          <p class="card-text">Price:240</p>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/bs17.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Wallnuts Inshell</h4>
          <p class="card-text">Price:240</p>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/bs18.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Pumpkin Seeds</h4>
          <p class="card-text">Price:224 per kg</p>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="./assets/media/bs19.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Green Moong Dal</h4>
          <p class="card-text">Price:200</p>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/of20.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Pack of 3</h4>
          <p class="card-text">Price:250(sugar+rava+Ground)</p>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      </div>
      <!-- best sales -->
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/bs30.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title"> Kala Chana</h4>
            <p class="card-text">Price:90</p>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/bs29.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Container</h4>
            <p class="card-text">Price:170</p>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/of23.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Tawa&Kadai</h4>
            <p class="card-text">Price:560</p>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/of24.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Vim Soaps</h4>
            <p class="card-text">Price:26</p>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/bs28.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Vim Liquid</h4>
            <p class="card-text">Price:160</p>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        </div>
        <!-- best sales -->
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs24.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Boost</h4>
              <p class="card-text">Price:132</p>
              <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs23.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Red Label</h4>
              <p class="card-text">Price:170</p>
              <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs22.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Cakes</h4>
              <p class="card-text">Price:30</p>
              <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs21.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Rusk</h4>
              <p class="card-text">Price:50</p>
              <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs20.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Brushes</h4>
              <p class="card-text">Price:80</p>
              <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          </div>
     <!-- best sales -->
     <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/of30.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Corn Flakes</h4>
            <p class="card-text">Price:145 (pack of 2)</p><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/st16.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Turmaric Powder</h4>
            <p class="card-text">Price:105</p>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/of14.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Naturally Fair</h4>
            <p class="card-text">Price:145 (pack of 2)</p><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/bs26.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Frooti Drink</h4><br>
            <p class="card-text">Price:145</p>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/bs25.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Coffee Powder</h4>
            <p class="card-text">Price:145</p>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        </div> 
        </div>
        </div>
        </div>    
