<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
    <div class="col-xs-sm-md-lg-12">
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/media/good diet.jpg" alt="Los Angeles" width="100%">
      </div>
      <div class="carousel-item">
        <img src="./assets/media/beverage.jpg" alt="Chicago">
      </div>
      <div class="carousel-item">
        <img src="./assets/media/kichen.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="./assets/media/snacks1.jpg" alt="Chicago">
      </div>
      <div class="carousel-item">
        <img src="./assets/media/fruits.jpg" alt="New York">
      </div>
      
      <div class="carousel-item">
        <img src="./assets/media/snacks.jpg" alt="New York">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
   </div>
  
    
     
      
      <!-- beverage -->
      <h4>Beverages</h4>
       <div class="card-deck">
         <div class="card">
           <img class="card-img-top" src="./assets/media/ba1.jpg" alt="Card image">
           <div class="card-body">
            <p class="card-text">Soups</p>
            <h6 class="card-title">Up To 35% OFF</h6> 
           </div>
         </div>
         <div class="card">
           <img class="card-img-top" src="./assets/media/ba2.jpg" alt="Card image">
           <div class="card-body">
            <p class="card-text">Tea</p>
            <h6 class="card-title">Up To 40% OFF</h6>
           </div>
         </div>
         <div class="card">
           <img class="card-img-top" src="./assets/media/ba3.jpg" alt="Card image">
           <div class="card-body">
         <p class="card-text">Health Drinks</p>
             <h6 class="card-title">Up To 40% OFF</h6>
           </div>
         </div>
         
         <div class="card">
           <img class="card-img-top" src="./assets/media/ba4.jpg" alt="Card image">
           <div class="card-body">
             
             <p class="card-text">Instant Coffee</p>
             <h6 class="card-title">Up To 40% OFF</h6>
           </div>
         </div>
         <div class="card">
           <img class="card-img-top" src="./assets/media/ba6.jpg" alt="Card image">
           <div class="card-body">
            <p class="card-text">Coffee </p>
            <h6 class="card-title">Up To 40% OFF</h6>
           </div>
         </div>
         </div>
         <!-- beauty&Hygiene -->
         <h4>Beauty&Hygiene</h4>
         <div class="card-deck">
           <div class="card">
             <img class="card-img-top" src="./assets/media/bh1.jpg" alt="Card image">
             <div class="card-body">
              <p class="card-text">Kajal Supreme</p>
              <h6 class="card-title">Up To 35% OFF</h6> 
             </div>
           </div>
           <div class="card">
             <img class="card-img-top" src="./assets/media/bh2.jpg" alt="Card image">
             <div class="card-body">
              <p class="card-text">Professional Face & Eye Brush</p>
                
              <h6 class="card-title">Up To 40% OFF</h6>
             </div>
           </div>
           <div class="card">
             <img class="card-img-top" src="./assets/media/bh3.jpg" alt="Card image">
             <div class="card-body">
           <p class="card-text">Forming Face wash</p>
               <h6 class="card-title">Up To 40% OFF</h6>
             </div>
           </div>
           
           <div class="card">
             <img class="card-img-top" src="./assets/media/bh4.jpg" alt="Card image">
             <div class="card-body">
               
               <p class="card-text">
                Light Moisturiser - With Vitamin E & Glycerine, For Non Oily Fresh Feel</p>
               <h6 class="card-title">Up To 40% OFF</h6>
             </div>
           </div>
           <div class="card">
             <img class="card-img-top" src="./assets/media/bh5.jpg" alt="Card image">
             <div class="card-body">
              <p class="card-text">Sun expert after sun cooling gel </p>
              <h6 class="card-title">Up To 40% OFF</h6>
             </div>
           </div>
           </div> 
           <!-- Cleaning&Household -->
      <h4>Cleaning&Household</h4>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/ch1.jpg" alt="Card image">
          <div class="card-body">
           <p class="card-text">Harpic Cleaner Liquid, Original</p>
           <h6 class="card-title">Up To 35% OFF</h6> 
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/ch2.jpg" alt="Card image">
          <div class="card-body">
           <p class="card-text">Vim
            Dishwash Liquid - Gel Lemon</p>
             
           <h6 class="card-title">Up To 40% OFF</h6>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/ch3.jpg" alt="Card image">
          <div class="card-body">
        <p class="card-text">Dettol Liquid</p>
            <h6 class="card-title">Up To 40% OFF</h6>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/ch4.jpg" alt="Card image">
          <div class="card-body">
            
            <p class="card-text">Lizol
              Kitchen Power Cleaner Liquid</p>
             
            <h6 class="card-title">Up To 40% OFF</h6>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/ch5.jpg" alt="Card image">
          <div class="card-body">
           <p class="card-text">Surface Cleaner - Citrus, Kills 99.9% Germs </p>
           <h6 class="card-title">Up To 40% OFF</h6>
          </div>
        </div>
        </div>
         <!-- VEGETABLES -->
   <h4>Vegetables&Fruits</h4>
   <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/f15.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title"> Broccoli</h5>
         
        <p class="card-text"> Price:20 per kg</p>
        <a href="#" class="btn btn-primary">20%OFF</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/f6.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Onion</h5>
        <p class="card-text">Price:19 per kg.</p>
        <a href="#" class="btn btn-primary">8%OFF</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/f3.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Cauliflower</h5>
        <p class="card-text">Price:19 per kg.</p>
        <a href="#" class="btn btn-primary">6%OFF</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/f16.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Brinjal</h5>
        <p class="card-text">Price:19 per kg.</p>
        <a href="#" class="btn btn-primary">10%OFF</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/f20.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Drum Sticks</h5>
        <p class="card-text">Price:15 per kg.</p>
        <a href="#" class="btn btn-primary">6%OFF</a>
      </div>
    </div>
    </div>
    <!-- FRUITS -->
    <!-- <h4> Fruits</h4> -->
   <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/V5.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Orange - Nagpur, Regular</h5>
          
        <p class="card-text">Price:19 per kg</p>
        <a href="#" class="btn btn-primary">9%OFF</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/V3.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        <p class="card-text">Price:250 per kg.</p>
        <a href="#" class="btn btn-primary">11% OFF</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/V10.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Sapota</h5>
        <p class="card-text">Price:66 per kg.</p>
        <a href="#" class="btn btn-primary">2%OFF</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/V8.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Guava</h5>
        <p class="card-text">Price:70 per.</p>
        <a href="#" class="btn btn-primary">2%OFF</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/V4.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Pomegranate</h5>
        <p class="card-text">Price:100 per kg</p>
        <a href="#" class="btn btn-primary">5%OFF</a>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
        <br> 
  </body>
  </html>
  
<router-outlet></router-outlet>