
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<img src="./assets/media/cart.png" class="center" width="300px" height="400px">
<!-- <img src="paris.jpg" alt="Paris" class="center"> -->
<h4>Missing Cart Items</h4>
<p>Login to see the items you added previously</p>
<!-- <button type="button" class="block">Block Button</button> -->
<!-- <button class="btn warning">Login</button> -->



</body>
</html>