<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/f1.jpg" alt="Card image"height="250px">
      <div class="card-body">
        <h4 class="card-title">Capsicum </h4>
          
        <p class="card-text">Rs:20 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/f2.jpg" alt="Card image" height="250px">
      <div class="card-body">
        <h4 class="card-title">Carrot</h4>
        <p class="card-text">Rs:15 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/f4.jpg" alt="Card image" hei>
      <div class="card-body">
        <h4 class="card-title">Coriander Leaves</h4>
        <p class="card-text">Rs:55 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
        
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/f5.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Ladies Fingers</h4>
        <p class="card-text">Rs:50 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/f17.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Radish</h4>
        <p class="card-text">Rs:30 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/f18.jpg" alt="Card image"height="300px"width="300px">
      <div class="card-body">
        <h4 class="card-title">Bottle Gaurd</h4>
        <p class="card-text">Rs:36 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/f7.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Tomato</h4>
        <p class="card-text">Rs:45 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/f8.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Palak</h4>
        <p class="card-text">Rs:70 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/f9.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Beans</h4>
        <p class="card-text">Rs:90 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/f10.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Potato</h4>
        <p class="card-text">Rs:45 per kg</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- <div class="card-deck">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../../assets/media/f11.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../../assets/media/f12.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../../assets/media/f13.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../../assets/media/f14.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../../assets/media/f15.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/media/f16.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/media/f17.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/media/f18.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
      
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/media/f19.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/media/f20.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
      </div> -->
