<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/ds1.jpg" alt="Card image"height="250px">
      <div class="card-body">
        <h4 class="card-title">Butter Scotch </h4>
          
        <p class="card-text">Rs:200</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/ds2.jpg" alt="Card image" height="250px">
      <div class="card-body">
        <h4 class="card-title">Vennela</h4>
        <p class="card-text">Rs:300</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/ds3.jpg" alt="Card image" hei>
      <div class="card-body">
        <h4 class="card-title">Amul Ice Cream</h4>
        <p class="card-text">Rs:220</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
        
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/ds4.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Dark Chocolate</h4>
        <p class="card-text">Rs:120</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/ds5.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Pop-Orange</h4>
        <p class="card-text">Rs:50</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
</div>
</div>
