<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12"> 
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk1.jpeg" alt="Card image">
    <div class="card-body">
       <p class="card-text">Nature Valley Oats(252 g)</p>
      <h6 class="card-title">Rs:257</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk2.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">Koko Krunch Choco Burst</p>
      <h6 class="card-title">Rs:257</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk3.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text"> Kellogg's Original Corn Flakes</p>
      <h6 class="card-title">Rs:120</h6>
      <a href="#" class="btn btn-primary">Add Item</a> 
      
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk4.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">Muesli Nut&Seeds Pouch(500 g)</p>
      <h6 class="card-title">Rs:276</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk5.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text"> Cereals Combo Pouch(6 x 20 g)</p>
      <h6 class="card-title">Rs:300</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  </div>
  <!-- second card deck -->
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk21.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text"> Mango Bite</p>
      <h6 class="card-title">Rs:150</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk22.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text"> Eclairs</p>
      <h6 class="card-title">Rs:90</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk8.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text"> koko krunch</p>
      <h6 class="card-title">Rs:120</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk9.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">Kellogg's Chocos</p>
      <h6 class="card-title">Rs:260</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk10.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">Corn&Oat Flakes</p>
      <h6 class="card-title">Rs:99</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  </div>
  <!-- 3 card deck -->
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk15.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">Soul Full Ragi Bites Fills Plus Box</p>
      <h6 class="card-title">Rs:99</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk12.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">Saffola Classic Masala Oats Pouch(500 g)</p>
      <h6 class="card-title">Rs:199</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk18.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">Yogabar Multigrain Enery Bar(228 g, Box)</p>
      <h6 class="card-title">Rs:108</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk14.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text"> Muesli Fruit and Nut Pouch  (700 g)</p>
      <h6 class="card-title">Rs:390</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/media/pk19.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">Straberry Flavour Jelly(148 g)</p>
      <h6 class="card-title">Rs:91</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
    </div>
  </div>
  </div>
  <!-- 4 deck -->
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/pk11.jpeg" alt="Card image">
      <div class="card-body">
       
        <p class="card-text">Yogabar Dark Chocolate & Cranberry Muesli Pouch(700g) </p>
        <h6 class="card-title">Rs:355</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pk13.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Supermart Food Essentials Crunchy Corn Flakes Pouch(400 g)</p>
      <h6 class="card-title">Rs:74</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pk16.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">SOULFULL Millet Muesli Crunchy& Buy 2 Get 1,Combo Pack2(800g+400g)</p>
      <h6 class="card-title">Rs:91</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/pk20.jpeg" alt="Card image">
      <div class="card-body">
        <br>
        <p class="card-text">Cadbury Celebrations Bars  (233 g)</p>
      <h6 class="card-title">Rs:91</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pk23.jpeg" alt="Card image">
      <div class="card-body"><br>
        <p class="card-text">Smacker Happy Lollipop Happy Pack</p>
      <h6 class="card-title">Rs:35</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    <!-- staples -->
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="./assets/media/st1.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Red Rajma</p>
          <h6 class="card-title">Rs:80 per kg</h6><br>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/st2.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Chana Dal</p>
      <h6 class="card-title">Rs:35 per 500g</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/st7.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Toor Dal</p>
          <h6 class="card-title">Rs:75 per kg</h6><br>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="./assets/media/st8.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Moong Dal</p>
      <h6 class="card-title">Rs:120 per kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/st5.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Uran Whole</p>
      <h6 class="card-title">Rs:110 per kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      </div>
      <!-- staples2 -->
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/st6.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Ground Nuts</p>
      <h6 class="card-title">Rs:140 per kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/st3.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Soya Chunks</p>
      <h6 class="card-title">Rs:30 per 200g</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/st4.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Mini Soya Chunks</p>
            <h6 class="card-title">Rs:40 per 200g</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/st9.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Saffola Gold Oil</p>
      <h6 class="card-title">Rs:1210 per 5L</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/st29.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Fredom Oil</p>
      <h6 class="card-title">Rs:875 per 5L</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        </div>
        <!-- STAPLES-3 -->
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="./assets/media/st11.jpeg" alt="Card image">
            <div class="card-body">
              <p class="card-text">Chakki Atta</p>
              <h6 class="card-title">Rs:56 per 1kg</h6><br>
              <a href="#" class="btn btn-primary">Add Item</a> 
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/st12.jpeg" alt="Card image">
            <div class="card-body">
              <p class="card-text">Aashirvaad Atta</p>
      <h6 class="card-title">Rs:55 per 1kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/st13.jpeg" alt="Card image">
            <div class="card-body">
              <p class="card-text">Heritage Ghee</p>
      <h6 class="card-title">Rs:69 per 250g</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          
          <div class="card">
            <img class="card-img-top" src="./assets/media/st14.jpeg" alt="Card image">
            <div class="card-body">
              <p class="card-text">Maggie Mixed Masala</p>
      <h6 class="card-title">Rs:41 per 200g</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/st15.jpeg" alt="Card image">
            <div class="card-body">
              <p class="card-text">Tata Chilli Powder</p>
      <h6 class="card-title">Rs:90 per 1kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          </div>
          <!-- STAPLES-4 -->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="./assets/media/st16.jpeg" alt="Card image">
              <div class="card-body">
                <p class="card-text">Aashirvaad Turmaric Powder</p>
                <h6 class="card-title">Rs:67 per 1kg</h6><br>
                <a href="#" class="btn btn-primary">Add Item</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/media/st17.jpeg" alt="Card image">
              <div class="card-body">
                <p class="card-text">India Gate Basmati Rice</p>
      <h6 class="card-title">Rs:180 per 1kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/media/st18.jpeg" alt="Card image">
              <div class="card-body">
                <p class="card-text">Kohinoor Basmati Rice</p>
      <h6 class="card-title">Rs:190 per 1kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
              </div>
            </div>
            
            <div class="card">
              <img class="card-img-top" src="./assets/media/st19.jpeg" alt="Card image">
              <div class="card-body">
                <p class="card-text">American Almonds</p>
                <h6 class="card-title">Rs:400 per 500g</h6><br>
                <a href="#" class="btn btn-primary">Add Item</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/media/st20.jpeg" alt="Card image">
              <div class="card-body">
                <p class="card-text">Nutraj Walnuts Kernels</p>
      <h6 class="card-title">Rs:90 per 1kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
              </div>
            </div>
            </div>
            <!-- STAPLES-5 -->
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="./assets/media/st21.jpeg" alt="Card image">
                <div class="card-body">
                  <p class="card-text">Nutraj Raisins</p>
                    <h6 class="card-title">Rs:450 per 1kg</h6><br>
                   <a href="#" class="btn btn-primary">Add Item</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="./assets/media/st22.jpeg" alt="Card image">
                <div class="card-body">
                  <p class="card-text">Farmley Pistachios</p>
      <h6 class="card-title">Rs:90 per 200g</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="./assets/media/st23.jpeg" alt="Card image">
                <div class="card-body">
                  <p class="card-text">Classic Cashews</p>
                  <h6 class="card-title">Rs:590 per 1kg</h6><br>
                  <a href="#" class="btn btn-primary">Add Item</a>
                </div>
              </div>
              
              <div class="card">
                <img class="card-img-top" src="./assets/media/st27.jpeg" alt="Card image">
                <div class="card-body">
                  <p class="card-text">Royal Sugar</p>
      <h6 class="card-title">Rs:48 per 1kg</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="./assets/media/st25.jpeg" alt="Card image">
                <div class="card-body">
                  <p class="card-text">Tata Salt</p>
                  <h6 class="card-title">Rs:22 per 1kg</h6><br>
                  <a href="#" class="btn btn-primary">Add Item</a>
                </div>
              </div>
              </div>
              </div>
              </div>
              </div>