*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    justify-content:center;
    
}
body
{
    background-color: rgb(189, 226, 23);
}
.wrapper
{
    
    /* top: 25%;
    left: 30%; */
    margin-bottom: 9px;
    height: auto;
    width: 100%;
    /* margin-left: 35%; */
    background-color:thistle;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(151, 21, 4);
}
.wrapper h4
{
    text-align: center;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.wrapper .input_field
{
    margin-bottom:10px;
}
.wrapper .input_field input[type="text"]
{
   width: 100%;
   border: 1px solid papayawhip;
   padding: 10px;
   border-radius:3px;
   
}

 .wrapper .btn input[type="submit"] 

{
    text-align: center;
     margin-left: 30px; 
    border: 0px; 
     margin-top: 15px;
     padding: 10px; 
    
    width: 100%;
    background-color: rgb(53, 89, 156);
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
span{margin:0 2px 0 2px}


    
    