.card{
    padding: 15px;
    border: 2px solid rgb(70, 70, 73);
    margin: 15px;
    display: flex;
    justify-content: center;
    width:280px;
    
}
.card img
{
  height: 130px;  
  width: 120px;
  
}
img
{
display:block;
margin-left: auto;
margin-right: auto;
}
.center
{
 text-align: center;   
}
h4{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(212, 99, 7);
}

h6:before {
  content: ' \20B9';
}