<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12">
<h4>4* and Above</h4>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc36.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Colgate MaxFresh</h5>
  <p class="card-text"> Price:159</p><br>
  <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc37.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Cerelac 5Grains&Fruits</h5>
  <p class="card-text"> Price:200</p><br>
  <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc50.jpg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Lakme Nail Polish</h5>
  <p class="card-text"> Price:20</p><br>
  <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc39.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Himalaya Complete Care</h5>
  <p class="card-text"> Price:130</p><br>
  <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/pc40.jpeg" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Dabur Dant Rakshak</h5>
  <p class="card-text"> Price:119</p><br>
  <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    <h4>3* and Above</h4>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="./assets/media/of6.jpeg" alt="Card image"height="300px"width="300px">
        <div class="card-body">
          <p class="card-text">Combo Pack(6 Brushes, Mouthwash 250ml, Toothpaste 300g)</p>
        <h6 class="card-title">225</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/of7.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Colgate Swarna Vedshakti Toothpaste Toothpaste(400 g,Pack of 2)</p>
        <h6 class="card-title">180</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/of8.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Elle 18 Nail Pops Nail Color 5 ml Shade 24 + 5 ml Shade 122, Combo 2 Items</p>
          <h6 class="card-title">97</h6>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="./assets/media/of9.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Apis Honey  (Combo Pack 1 + 1 Free, 500 g each)  (500 g)</p>
          <h6 class="card-title">200</h6><br>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/of10.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Apis Mixed Fruit Jam 450 g(Combo Pack 1 + 1 Free, 450 g each)</p>
        <h6 class="card-title">131</h6><br>
        <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>