<div class="container-fluid">
  <div class="row">
  <div class="col-xs-sm-md-lg-12">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/of1.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Kesar Body Lotion  (Combo Pack 1 + 1 Free, 400 ml each)  (400 ml)</p>
        <h6 class="card-title">340</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/of2.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Lakmé Eyeconic Kajal Twin Pack  (Deep Black, 0.7 g)</p>
        <h6 class="card-title">313</h6><br>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/of3.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">AASHIRVAAD Turmeric Powder  (200 g+200g)</p>
        <h6 class="card-title">56</h6><br>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/of4.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Maggi Masala Instant Noodles Vegetarian  (12 x 70 g)</p>
      <h6 class="card-title">127</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/of5.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">MAYBELLINE NEW YORK Baby Lips Pink & Cherry color (Pack of: 2, 31.2 g)</p>
      <h6 class="card-title">200</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/of6.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Combo Pack(6 Brushes, Mouthwash 250ml, Toothpaste 300g)</p>
      <h6 class="card-title">225</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/of7.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Colgate Swarna Vedshakti Toothpaste Toothpaste(400 g,Pack of 2)</p>
      <h6 class="card-title">180</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/of8.jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Elle 18 Nail Pops Nail Color 5 ml Shade 24 + 5 ml Shade 122, Combo 2 Items</p>
        <h6 class="card-title">97</h6>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/of9.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Apis Honey  (Combo Pack 1 + 1 Free, 500 g each)  (500 g)</p>
        <h6 class="card-title">200</h6><br>
        <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/of10.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Apis Mixed Fruit Jam 450 g(Combo Pack 1 + 1 Free, 450 g each)</p>
      <h6 class="card-title">131</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/of11.jpeg"  alt="Card image">
      <div class="card-body">
        <p class="card-text">Apis Royal Zahidi Premium Dates(Combo Pack 1 + 1Free, 500g each)(500 g)</p>
      <h6 class="card-title">175</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/of12.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">SafeWash Gentle Wash Liquid Detergent(Buy 1 Get 1 (1kg each) Free)  (1 kg)</p>
      <h6 class="card-title">289</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/of13.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text"> Royal Zahidi Premium  black Dates(Combo Pack 1 + 1Free, 500g each)(500 g)</p>
      <h6 class="card-title">195</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/of14.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Naturally Fair Everyday Radiance Herbal Cream Combo  (Combo Pack 1 + 1 Free)</p>
      <h6 class="card-title">118</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/of15.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text"> Supermart Home Essentials Toilet Paper Roll  (Buy 1 Get 1 Free),(3 Ply, 200 Sheets)</p>
      <h6 class="card-title">155</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="./assets/media/of16.jpeg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Saffola Oats, Rolled Oats, 100% natural Pouch(1 kg)</p>
      <h6 class="card-title">200</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/of17.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Nivea Facewash&Body Lotion </p>
          <h6 class="card-title">321</h6>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/of18.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Sensodine Cologate(200g) & 3 Brushes Combo</p>
      <h6 class="card-title">155</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="./assets/media/of19.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Santoor Handwash & Soaps(Pack of 4)</p><br>
          <h6 class="card-title">120</h6>
          <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/media/of20.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Groundnuts,Sugar and Idly Rava (1kg+1kg+1kg)</p>
      <h6 class="card-title">170</h6>
      <a href="#" class="btn btn-primary">Add Item</a>
        </div>
      </div>
      </div>
      <!-- staples -->
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/of21.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Lotus White Glow Cream</p>
            <h6 class="card-title">126</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/of22.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text"> Plastic Containers (buy 2 get 1) </p>
      <h6 class="card-title">50</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/of23.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Dosa Tawa & Cookware</p>
            <h6 class="card-title">520</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/of24.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Vim Dishwash Bar(600 g, Pack of 3)</p>
            <h6 class="card-title">46</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/of25.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text"> Harpic and Lizol floor Cleaner</p>
            <h6 class="card-title">300</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        </div>
        <!-- best sales -->
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs1.jpeg" alt="Card image">
            <div class="card-body">
          <br><br>    <p class="card-text">Colgate Visible White Toothpaste  (400 g, Pack of 4)</p>
          <br>  <h6 class="card-title">403</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs2.jpeg" alt="Card image">
            <div class="card-body">
            <br><br>  <p class="card-text">Eva Doll and Sweet Deodorant Spray - For Women  (300 ml, Pack of 2)</p><br>
              <h6 class="card-title">273</h6>
              <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs3.jpeg" alt="Card image"><br>
            <div class="card-body">
              <p class="card-text">SET WET Cool,Charm and Swag Avatar Deodorant Spray-For Men(450 ml, Pack of 3)</p><br>
            <h6 class="card-title">312</h6>
            <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs4.jpeg" alt="Card image">
            <div class="card-body">
              <p class="card-text">PARK AVENUE Cool Blue and Good Morning Deodorant Spray-For Men(Combo Pack 2 + 1 Free,150 ml each),(300 ml, Pack of 3)</p>
            <h6 class="card-title">282</h6>
            <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/media/bs6.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text">IRLON Non-Stick Kitchen Cooking Essential Combo Set Offer Cookware Set(Aluminium, Stainless Steel, 3-Piece)</p>
            <h6 class="card-title">2500</h6>
            <a href="#" class="btn btn-primary">Add Item</a>
            </div>
          </div>
          </div>
     <!-- best sales -->
     <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/of26.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Lay’s Magic Masala Chips  (3 x 115 g)</p><br>
            <h6 class="card-title">105</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/of27.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Harpic Power Plus Rose Liquid Toilet Cleaner(500 ml*3)</p>
            <h6 class="card-title">300</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/of28.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Harpic Disinfectant Bathroom Cleaner Liquid Lemon  (1L+1L)</p>
            <h6 class="card-title">250</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/of29.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Softouch Garden Bouquet Fabric Conditioner  (1260 ml)</p>
            <h6 class="card-title">222</h6><br>
            <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/of30.jpeg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Kwality Corn Flakes Pouch(2 x 0.5 kg)</p><br>
      <h6 class="card-title">185</h6><br>
      <a href="#" class="btn btn-primary">Add Item</a>
          </div>
        </div>
        </div>     
        </div>
        </div>
        </div>